{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>服务</title>
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/help.css' %}" />
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script>
$(document).ready(function(e) {
    $(".fwmc_xxk li").click(function(){
		//var fw_price = $(this).children("i").text();
		//var fw_numb = $(".srkk").val();
		//var fw_tal = fw_price*fw_numb;
		//$(".zwfb_zje span").text(fw_tal);
		$(this).addClass("on").siblings().removeClass("on");
		tola();
		});
	//加
	$(".jia").click(function(){
		var fw_numb = $(".srkk").val();	
		fw_numb++;
		$(".srkk").val(fw_numb);		
		/*$(".fwmc_xxk li").each(function() {
            if($(this).hasClass("on")){
				var dqzt_price = $(this).children("i").text();
				//alert(dqzt_price);
				var zgsj_jia = dqzt_price*fw_numb;
				$(".zwfb_zje span").text(zgsj_jia);
				}
        }); */
		tola();
		})
		
	//减
	$(".jian").click(function(){
		var fw_numb = $(".srkk").val();	
		if(fw_numb <= 1){
			alert("数量不足了，请住手！")
			}else{
		fw_numb--;
		$(".srkk").val(fw_numb);		
			}
		/*$(".fwmc_xxk li").each(function() {
            if($(this).hasClass("on")){
				var dqzt_price = $(this).children("i").text();
				//alert(dqzt_price);
				var zgsj_jia = dqzt_price*fw_numb;
				$(".zwfb_zje span").text(zgsj_jia);
				}
        }); */
		tola();
		})	
	 
	
});

function tola(){
		var $li = $(".fwmc_xxk").children("li.on");
		var money = $li.children("i").text();
		var count = $(".srkk").val();
		document.getElementById("imgtalk").value=money*count;
}

</script>

<!--[if lt IE 8]>
<script type="text/javascript">
jQuery(function($){ 
	$(".wzjzgbann_but").click(function(){ 
		$(".browser-upgrade").remove();
 	}); 	
}); 
</script> 
<div class="browser-upgrade">
  <div class="wrapper">
    <div class="fl">您的浏览器版本过低，为了保证更好的安全性和浏览体验，建议更换高级浏览器，如：<a href="http://www.baidu.com/s?wd=谷歌浏览器"  target="_blank">谷歌浏览器</a><a href="http://www.baidu.com/s?wd=火狐浏览器"  target="_blank">火狐浏览器</a><a href="http://www.baidu.com/s?wd=360极速浏览器"  target="_blank">360 极速浏览器</a>  <a href="http://t.cn/RPrfSNj"  target="_blank">IE8浏览器</a>  </div>
    <a href="javascript:void(0);" class="wzjzgbann_but fr">x</a> </div>
</div>
<style> 
.browser-upgrade {background-color: #DA7575;border-bottom: 1px solid #D65F39;color: #F0F0F0;padding: 10px 0; width: 100%; }
.browser-upgrade .wrapper {width: 1000px;margin: 0 auto; overflow:hidden;} 
.browser-upgrade a {color: yellow;margin-right: 10px;text-decoration: underline;}
.browser-upgrade a.wzjzgbann_but{ display:block; height:15px; width:15px; background:#000; color:#fff; font-size:14px; text-align: center; line-height:15px; text-decoration:none; margin-top: 2px; }
</style>
<![endif]-->
</head>
<body>
<div class="w_1200 fw_box ">
  <div class="left_nav">
    <ul class="bzzx_nav_list">
      <li> <a href="#" class="icon_1">会员服务</a> </li>
      <li class="on"> <a href="#" class="icon_2">充值</a> </li>

    </ul>
  </div>
  <div class="fw_conent">
    <div class="bzzx_bt"> <strong>充值</strong></div>
    <form action="/pay/" method="post">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="zwfb_shop_table">
      <tr valign="top">
        <td align="right" width="70">充值名称：</td>
        <td><ul class="fwmc_xxk">
            <li class="on">
              <p>充值服务</p>
              <i>60</i>元</li>
            <li>
              <p>充值服务</p>
              <i>50</i>元</li>
            <li>
              <p>充值服务</p>
              <i>40</i>元</li>
            <li>
              <p>充值服务</p>
              <i>30</i>元</li>
            <li>
              <p>充值服务</p>
              <i>20</i>元</li>
            <li>
              <p>充值服务</p>
              <i>10</i>元</li>
          </ul></td>
      </tr>
      <tr>
        <td align="right">充值数量：</td>
        <td><div class=" zwsl_num">50个<span>充值数量</span></div></td>
      </tr>
      <tr>
        <td height="20"></td>
        <td></td>
      </tr>
      <tr>
        <td align="right">购买数量：</td>
        <td><ul class="nmb_jj">
            <li class="jian">-</li>
            <li>
              <input name="" type="text" value="1" class="srkk" />
            </li>
            <li class="jia">+</li>
          </ul></td>
      </tr>
      <tr>
        <td height="20"></td>
        <td></td>
      </tr>
      <tr>
        <td align="right">价格：</td>
        <td><div class="zwfb_zje"> <input  value="1" id="imgtalk" type="text" name="price"> <i>元</i></div></td>
      </tr>
      <tr>
        <td height="20"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" style="background-color:red" value="去支付"></td>
      </tr>
    </table>
    </form>
    
  </div>
</div>
</body>
</html>
